@{
    ViewBag.Title = "Pagina principala";
}

 <h1>Asociatia de locatari Lunguletu</h1>
<ol class="round">
    <li class="one">
        Presedinte: <b>Dan Dumitru</b><br /><br />
    </li>
     <li class="two">
         Adresa email: <a href="mailto:AlLunguletu@gmail.com" ><b>AlLunguletu@gmail.com</b></a> <br /><br />
    </li>
</ol>
