@{
    ViewBag.Title = "Pagina principala";
}

 <h1>Asociatia de locatari Lunguletu</h1>
<ol class="round">
    <li class="one">
        Echipa administrativa: 
        <br /><br /><b>Dan Dumitru</b><br /><br />
        <b>Radu Schiopu</b><br /><br />
        <b>Doina Dumitru</b><br /><br />
        <b>...</b><br /><br />
        <b>Ciprian Lugojan</b><br /><br />
        
        <b>..</b><br /><br />
    </li>
     <li class="two">
         Adresa email: <a href="mailto:AlLunguletu@gmail.com" ><b>AlLunguletu@gmail.com</b></a> <br /><br />
    </li>
</ol>
